<form #f="ngForm" (ngSubmit)="login(f)" [formGroup]="registrationform">


    <input type="text" placeholder="Enter Username" formControlName = "username">
    
    <div>
  
      <div *ngIf="username.touched && username.invalid">
  
        <p *ngIf="username.errors.required">Username Required</p>
        <p *ngIf="username.errors.minlength">Min Length is 5</p>
  
      </div>
     </div>
     <br><br>
  
  
    <input type="password" placeholder="Enter Password" formControlName = "password">
    
    <div>
  
      <div *ngIf="password.touched && password.invalid">
  
        <div *ngIf="password.errors.required">Password Required</div>
        <div *ngIf="password.errors.minlength">Min Length is 5</div>
  
      </div>
     </div>
     <br><br>
  
  
    <input type="email" placeholder="Enter Email" email formControlName="email">
    
    <div>
  
      <div *ngIf="email.touched && email.invalid">
  
        <div *ngIf="email.errors.required">Email Required</div>
        <div *ngIf="email.errors.email">Inavlid email</div>
  
      </div>
     </div>
     <br><br>

     <input type="tel" placeholder="Enter Phone Numer" phonenumber formControlName="phonenumber">
    
     <div>
   
       <div *ngIf="phonenumber.touched && phonenumber.invalid">
   
         <div *ngIf="phone.errors.required">Phone number Required</div> 
         <div *ngIf="phonenumber.errors.minlength">Inavlid Phone Number</div>
         <div *ngIf="phonenumber.errors.maxlength">Inavlid Phone Number</div>
         <div *ngIf="phonenumber.errors.patter">Inavlid Phone Number</div>
   
       </div>
      </div>
      <br><br>
      <br>

      <button [disabled]="f.invalid">Submit</button>
      <br><br>
  
    </form>

    
  
    
  
